@import "../../../styles/variables";
@import "../../../styles/screensize";

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 50px;
  background-color: $cardColor;
  @include mobileSS {
    padding: 0 20px;
  }
  // text-align: center;
  // line-height: 70px;
  // background: #e0e0e0;
  // box-shadow: 5px 5px 10px #f1f1f1, -5px -5px 10px #ebebeb;
  .brand {
    height: 100%;
    h1 {
      color: $fontColor;
      line-height: 70px;
      font-size: 900;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
  }
  .nav_links {
    display: flex;
    // background-color: $primaryColor;
    height: 100%;
    @include mobileSS {
      display: none;
    }
    .nav_item {
      padding: 0 20px;
      line-height: 70px;
      border-bottom: solid 5px $cardColor;
      &:hover {
        // background-color: $primaryColor;
        border-bottom: solid 3px $primaryColor;
        p {
          color: $primaryColor;
        }
      }
      p {
        font-size: large;
        font-weight: 800;
        color: $fontColor;
      }
    }
  }
}
